/* Réf Brief */
$color--primary: #9356dc;
$color--secondary: #ff79da;
$color--tertiary: #99e2d0;
/* Unique */
$color--geo: #e6e6e6;
$color--background: #f5f5f5;
$color--new: #2d927b;
$color--footer: #353535;
/* Classique */
$color--grey: #c0c0c0;
$color--black: #000000;
$color--white: #fff;