html {
	font-size: 16px;
	font-family: 'Roboto', serif, sans-serif;
}

/* INDEX */
.bloc__header {
	&--btn {
		font-size: 1rem;
	}
	span {
		font-size: 1rem;
	}
	button {
		font-size: 0.96rem;
	}
	h1 {
		font-size: 1.2rem;
		font-weight: bold;
	}
	h2 {
		font-size: 1rem;
	}
}

.bloc__fonct {
	h3 {
		font-size: 1rem;
		font-weight: bold;
	}
}

.bloc__card {
	h3 {
		font-size: 1.4rem;
		font-weight: bold;
	}
	&--new {
		font-size: 0.8rem;
	}
}

.bloc__footer {
	&--span {
		font-family: 'Shrikhand';
	}
}

/* RESTAURANT */
.bloc__title {
	&--h1 {
		font-family: 'Shrikhand';
		font-size: 1.6rem;
	}
}

.menu {
	&__title {
		text-transform: uppercase;
	}
	&__h3 {
		font-size: 1rem;
		font-weight: bold;
	}
	&__p {
		font-size: 0.8rem;
	}
	span {
		font-weight: bold;
	}
	&__command {
		font-size: 0.9rem;
	}
}